@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Homemade+Apple:100,200,300,400,500,600,700');


/* ----------------------------------------------------- General */

.main-body {
    padding: 0;
}

.h3 {
    font-family: "Roboto", sans-serif;
}

.attached {
    background-attachment: fixed;
}

/* ------------------------------------------------------ Background Image, Social, Name banner */

.image-div {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/psycrow.jpg');
    height: 100vh;
    width: 100vw;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    overflow: visible;
    background-color: black;
}

.landing {
    margin: 0;
    padding: 0;
}

.social-row {
    background-color: #000;
    position: fixed;
    height: 7%;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

.social-links p a i {
    color: #fafafa;
    margin-top: 15px;
    font-size: 40px;
}

.name-row {
    position: absolute;
    top: 60%;
    width: 100vw;
    background-color: pink;
    height: 70px;
    text-align: center;

}

.bandname {
    color: black;
    font-size: 50px;
    font-style: italic;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    text-align: center;
}



/* --------------------------------------------------------- Nav */

.nav-row {
    height: 7%;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100vw;
    margin: 0;
}

.nav-link {
    text-align: center;
    font-size: 18px;
    /*font-style: italic;*/
    padding-top: 10px;
    color: pink;
    font-family: 'Exo', sans-serif;
}

.navbar {
    background-color: #000;
}

/* ------------------------------------------------------- Photo Section 

.photo-container {
    display: inline-block;

}

.live-shots {
    background-color: pink;
    position: relative;
    top: 97%;
    min-height: 100px;


}

.shot-frame {
    height: 250px;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7px;
    margin: 15px;
    text-align: center;

}

.frame-one img {

    width: 150px;
}

/*

.frame-two {
    background-image: url('../images/setphotos/canarylive2.jpg');
}

.frame-three {
    background-image: url('../images/setphotos/canaryshot.jpg');
}

.frame-four {
    background-image: url('../images/setphotos/font-cover-canary-live.jpg');
}

.frame-five {
    background-image: url('../images/setphotos/img_6172.jpg');
}

.frame-six {
    background-image: url('../images/setphotos/img_7523.jpg');
}
*/

/* ---------------------------------------------------------- Contact Form */

.contact-form {
    position: absolute;
    top: 67%;
}

.bg-transparent {
    background-color: transparent;
}

.form-control {
    height: 51px;
    background-color: transparent;
}




/* ---------------------------------------------------------- News Page */


.news-image-div {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/psycrow.jpg');
    height: 100px;
    width: 100vw;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    overflow: visible;
    background-color: black;
}

.page-color {
    background-color: #452631;

}

.eye-div {
    background-image: url('../images/eyedisk.png');
    height: 200px;
    width: 100%;
    padding: 0;

    position: relative;
    top: 25px;
    left: 15px;
    background-repeat: no-repeat;
    /*background-position: top center;*/
    background-size: contain;
    overflow: visible;
}

.title {
    color: pink;
    font-size: 50px;
    font-family: "Exo", sans-serif;
    font-weight: bold;
    padding-top: 60px;
    margin-top: 30px;
}

.news-item {
    color: black;

}

.news-item-heading,
.news-color p {
    background-color: #f8f2e2;
}

.centered {
    text-align: center;
}

.news-item-heading {
    margin-top: 50px;
    margin-bottom: 0;
    border: none;
    padding: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}

.news-color p {
    margin-top: 0;
    border: none;
    padding: 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

}

/* ----------------------------------------------------- Media */

/* .embeded-soundcloud {
    width: 100%;
    height: 600px; 
    scrolling: no;
    frameborder: no; 
    allow: autoplay;
} */

/* @media (min-width:767px) {
    .bandname {
        /* margin-top: 280px;
        font-size: 100px;
    } */
